.header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    img {
      width: 100px;
    }
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    text-align: right;
  }

  &__name {
    font-size: 14px;
    line-height: 1.2;
    color: #2f2f2f;
    margin: 0 0 4px;
  }

  &__coin {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    margin: 0;
    font-size: 12px;
    color: #2f2f2f;
  }
}
