.v-navigation {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 18px 24px;
  text-align: center;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

  &__icon {
    margin: 0 0 4px;
  }

  &__button {
    position: relative;
    color: #313131;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    width: 25%;
    z-index: 2;

    &--active {
      color: #583150;
    }
  }

  &-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 390px;
    margin: 0 auto;
    z-index: 5;
  }

  &__icon {
    color: #ccc;
  }
}

.v-navigation__button--active {
  .v-navigation__icon {
    color: #583150;
  }
}
