.calc-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 150px;
  margin: 15px auto 0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(-16.19%, #28bac4),
    color-stop(51.79%, #47e8f2),
    color-stop(119.05%, #5ec1c7)
  );
  background: linear-gradient(
    90deg,
    #28bac4 -16.19%,
    #47e8f2 51.79%,
    #5ec1c7 119.05%
  );
  color: #fff;
  justify-content: center;
  border-radius: 10px;
  text-decoration: none;
}

.calc__form {
  background: #fff;
  border-radius: 12px;
  margin: 24px auto 12px;
  padding: 16px 12px;
  width: 360px;

  .compass-field-wrapper label {
    min-width: 140px;
  }
}

.t1 {
  display: flex;
  overflow-x: scroll;
  margin: 25px 0 25px;

  &__col-group {
    display: flex;
    border: 1px solid #908070;
    border-radius: 4px;
    padding: 3px;
    margin-right: 5px;
    background-color: white;

    &:last-child {
      margin-right: 0;
    }
  }

  &__col {
    width: 90px;
    margin: 0 3px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  &__row {
    margin: 3px 0;
  }

  &__arrows {
    display: flex;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white;
      width: 45px;
      height: 24px;
      background-color: #908070;

      &:first-child {
        border-radius: 3px 0 0 3px;
        margin-right: 2px;
      }

      &:last-child {
        border-radius: 0 3px 3px 0;
      }
    }
  }

  &__head {
    background-color: #908070;
    color: white;
    border-radius: 3px;
    text-align: center;
    margin: 3px 0;
  }

  &__cell {
    position: relative;
    border: 1px solid #706050;
    border-radius: 3px;
    padding: 4px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    &--large {
      font-size: 40px;
      line-height: 44px;
    }
  }
}

.color-red {
  color: #e00000;
}

.color-beige {
  color: #706050;
}

.color-fire {
  color: #f00000;
}
.color-water {
  color: #0082ff;
}
.color-wood {
  color: #348b2e;
}
.color-metall {
  color: #708090;
}
.color-earth {
  color: #6a3814;
}

.fs-40 {
  font-size: 40px;
}

.fs-24 {
  font-size: 24px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12px {
  font-size: 12px;
}

.bg-earth-op {
  background-color: rgba(#6a3814, 0.2);
}

.n-top-l {
  position: absolute;
  left: 3px;
  top: 3px;
  font-size: 14px;
  line-height: 15px;
}

.n-top-r {
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 14px;
  line-height: 15px;
}

.n-bot-l {
  position: absolute;
  left: 3px;
  bottom: 3px;
  font-size: 14px;
  line-height: 15px;
}

.n-bot-r {
  position: absolute;
  right: 3px;
  bottom: 3px;
  font-size: 14px;
  line-height: 15px;
}

.t1__col--blue {
  .t1__arrows a {
    background-color: #0082ff;
  }

  .t1__head {
    background-color: #0082ff;
  }

  .t1__cell {
    border: 1px solid #0082ff;
  }
}

.s1 {
  position: relative;
  margin: 0 -15px;
  padding: 25px 0;
  background-color: white;
  img {
    width: 100%;
  }

  &-sym {
    position: absolute;
  }

  &-sym-1 {
    left: 110px;
    top: 60px;
  }

  &-sym-2 {
    left: 182px;
    top: 20px;
  }

  &-sym-3 {
    left: 252px;
    top: 60px;
  }

  &-sym-4 {
    left: 3px;
    top: 140px;
  }

  &-sym-5 {
    left: 124px;
    top: 140px;
  }

  &-sym-6 {
    left: 241px;
    top: 140px;
  }

  &-sym-7 {
    left: 361px;
    top: 140px;
  }

  &-sym-8 {
    bottom: 26px;
    left: 40px;
  }

  &-sym-9 {
    bottom: 26px;
    left: 161px;
  }

  &-sym-10 {
    bottom: 26px;
    left: 210px;
  }

  &-sym-11 {
    bottom: 26px;
    left: 321px;
  }
}

.table-title {
  margin: 40px 0 24px;
}

.t3 {
  display: flex;
  background-color: white;
  border: 1px solid #706050;
  border-radius: 3px;
  padding: 1px;
  overflow-x: auto;

  &__row {
    width: 80px;
    text-align: center;
    border: 1px solid #706050;
    border-radius: 3px;
    margin: 3px;
    padding: 4px;
    font-size: 14px;

    &--hover {
      border: 1px solid #0082ff;
    }

    &--disabled {
      opacity: 0.5;
    }
  }
}

.t2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 25px 0;

  &__col {
    width: 48%;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #706050;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    border-bottom: 1px solid #706050;
  }
}

#city-search {
  width: 243px;
  border: 1px solid #adadad;
  border-radius: 4px;
  outline: none;
  padding: 5px 10px;
}

#timezone-select {
  border: 1px solid #adadad;
  border-radius: 4px;
  outline: none;
  padding: 5px 10px;
}

.city-form {
  position: relative;
  width: 100%;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 20px 0 0;
}

#city-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 36px;
  background: #fff;
  border: 1px solid #ccc;
  max-height: 180px;
  overflow-y: auto;
  z-index: 5;
  display: none;
}

.dropdown-item {
  padding: 8px 10px;
  cursor: pointer;
}
.dropdown-item:hover {
  background: #eaf2ff;
}
input[readonly] {
  background: #f3f3f3;
}

.cd-wrap {
  display: flex;
  justify-content: space-between;
}

#city-lat,
#city-lon {
  width: 49%;
  border: 1px solid #adadad;
  border-radius: 4px;
  outline: none;
  padding: 5px 10px;
}
