.header {
  width: 360px;
  margin: 24px auto 12px;
  padding: 16px 12px;
  background: #ffffff;
  box-shadow: 0px 4px 24.2px rgba(87, 84, 84, 0.25);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__ava {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    object-fit: cover;
  }

  &__avatar {
    position: relative;
    flex-shrink: 0;
    margin: 0 8px 0 0;
    display: flex;
    align-items: center;
  }

  &__add {
    position: absolute;
    top: -2px;
    right: -2px;
  }

  &__name {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    margin: 0 0 4px;
  }

  &__status {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.01em;
    margin: 0;
  }

  &__bonus {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border: 1px solid $cyan;
    border-radius: 6px;

    img {
      margin: 0 8px 0 0;
    }

    p {
      margin: 0;
      color: $cyan;
      font-size: 16px;
      line-height: 18px;
    }
  }
}
