.page {
  min-height: 100vh;
  padding-bottom: 110px;
  background-color: #ffffff;
}

.advSwiper {
  filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  padding-bottom: 30px;
  margin: 24px 0;
}

.swiper-pagination-bullet-active {
  background-color: #583150;
}

.progress {
  position: relative;
  padding: 12px;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 3;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 12px;
  }

  &__title {
    font-family: "Cambria";
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #583150;
  }

  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #583150;
  }

  &__bar {
    background-color: #f6f0f4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    gap: 2px;
    border-radius: 8px;
  }

  &__item {
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background-color: #c7b7c3;
    overflow: hidden;
  }

  &__item-value {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #583150;
  }
}

.service {
  &__item {
    position: relative;
    padding: 12px 12px 40px;
    border-radius: 8px;
    overflow: hidden;
    display: block;
    text-decoration: none;

    &--purple {
      color: white;
      background-color: #583150;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 12px;
        bottom: 12px;
        background: url("../images/dist/more-yellow-ico.svg") no-repeat
          center/cover;
      }

      .service__item-ul {
        li {
          &:before {
            background: url("../images/dist/list-yellow-ico.svg") no-repeat
              center/cover;
          }
        }
      }
    }

    &--yellow {
      color: #583150;
      background-color: #ffcc00;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 12px;
        bottom: 12px;
        background: url("../images/dist/more-purple-ico.svg") no-repeat
          center/cover;
      }

      .service__item-ul {
        li {
          &:before {
            background: url("../images/dist/list-purple-ico.svg") no-repeat
              center/cover;
          }
        }
      }
    }
  }

  &__item-bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  &__item-title {
    position: relative;
    font-size: 16px;
    line-height: 1.2;
    font-family: "CambriaBold";
    margin: 0 0 12px;
    z-index: 2;
  }

  &__item-ul {
    position: relative;
    list-style: none;
    padding: 0 0 0 15px;
    margin: 12px 0;
    z-index: 2;
    li {
      position: relative;
      font-size: 12px;
      margin: 0 0 8px;

      &:last-child {
        margin: 0;
      }

      &:before {
        position: absolute;
        content: "";
        display: block;
        left: -15px;
        top: 2px;
        width: 12px;
        height: 12px;
      }
    }
  }
}

.serviceSwiper {
  margin: 24px 0;
  padding-bottom: 30px;
}

.main-bg {
  position: relative;
  height: 270px;
  text-align: center;
  overflow: hidden;
  z-index: 2;

  &__img {
    position: relative;
    width: 253px;
    margin: 0 auto;
    z-index: 2;
  }

  &__circle-wrapper {
    position: absolute;
    left: auto;
    right: auto;
    top: 20px;
    animation: spin 20s linear infinite;
    margin: 0 auto;

    &:nth-child(2) {
      animation-direction: reverse;
    }
  }

  &__circle {
    position: relative;
    width: 360px;
    height: 360px;
    border: 2px solid #f6f0f4;
    border-radius: 100%;

    &.zoomOut {
      transform: scale(0.8) rotate(271deg);
    }
  }

  &__circle-tag {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 10px;
    background-color: #f6f0f4;
    padding: 4px 8px;
    border-radius: 8px;

    &:first-child {
      position: absolute;
      top: 31px;
      left: -1px;
      transform: rotate(325deg);
    }

    &:nth-child(2) {
      position: absolute;
      bottom: 35px;
      right: -1px;
      transform: rotate(144deg);
    }

    img {
      flex-shrink: 0;
      width: 12px;
      height: 12px;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
