.page {
  min-height: 100vh;
  padding-bottom: 150px;

  background-color: #d9d9d9;
}

.mira-logo {
  position: absolute;
  width: 190px;
  margin: 0 auto;
  top: 83px;
  left: 0;
  right: 0;
  z-index: 2;
}

.service {
  &__list {
    margin: 16px 0 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    z-index: 2;
  }

  &__item {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    padding: 24px 16px 64px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    min-height: 235px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(255, 255, 255, 0.4) 100%
      );
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: xor;
      padding: 1px;
    }
  }

  &__item_bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__item_label {
    font-size: 24px;
    line-height: 24px;
    font-family: "Bebas", sans-serif;
    margin: 0 0 6px;
  }

  &__item_description {
    font-size: 12px;
    line-height: 15px;
    margin: 6px 0;
  }

  &__item_link {
    position: absolute;
    inset: auto 16px 20px 16px;
    text-decoration: none;
  }

  &__item_link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    position: relative;
    font-size: 12px;
    padding: 0 10px;
    color: white;
    gap: 4px;
    height: 40px;
    background: linear-gradient(119.93deg, #987879 -9.04%, #e4b4b5 143.26%);
    backdrop-filter: blur(4px);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(255, 255, 255, 0.4) 100%
      );
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: xor;
      padding: 1px;
    }
  }
}

.page-profile-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 24px;
}

.page-head-btn-back {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  color: #313131;
  text-decoration: none;
  padding: 4px 12px 4px 8px;
  border-radius: 12px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.4) 100%
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    padding: 1px;
  }
}

.page-head-btn-image-upload {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  background: linear-gradient(119.93deg, #987879 -9.04%, #e4b4b5 143.26%);
  backdrop-filter: blur(4px);
  color: #fff;
  text-decoration: none;
  padding: 4px 12px 4px 8px;
  border-radius: 12px;
  border: none;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.4) 100%
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    padding: 1px;
  }
}

.profile-avatar {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 24px auto;
  background-color: #313131;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
  }

  .percent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    color: #fff;
  }

  input[type="file"] {
    display: none;
  }
}

.form-wrapper {
  position: relative;
  background: rgba(#fff, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 12px;
  padding: 20px 20px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.4) 100%
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    padding: 1px;
  }
}

label.field-label {
  display: block;
  margin: 0 0 4px;
}

.field-wrapper {
  margin: 0 0 16px;

  .field {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #d5d5d5;
    background-color: #eceef2;
    color: #313131;
    text-indent: 15px;
    outline: none;
    -webkit-appearance: none; /* Chrome / Safari */
    -moz-appearance: none; /* Firefox */
    appearance: none;
    z-index: 2;
  }

  textarea {
    position: relative;
    background: #eceef2;
    border: none;
    border-radius: 10px;
    color: #373737;
    min-height: 90px;
    padding: 14px 10px;
    resize: none;
    width: 100%;
    z-index: 2;
    outline: none;
  }
}

.field-tarif {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin: 0 0 16px;
  .field-tarif-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #d5d5d5;
    background-color: #eceef2;
    color: #313131;
    outline: none;
    z-index: 2;

    &.active {
      color: white;
      background: linear-gradient(119.93deg, #987879 -9.04%, #e4b4b5 143.26%);
      backdrop-filter: blur(4px);
      border-radius: 12px;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.4) 0%,
          rgba(255, 255, 255, 0.1) 50%,
          rgba(255, 255, 255, 0.4) 100%
        );
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        mask-composite: exclude;
        -webkit-mask-composite: xor;
        padding: 1px;
        z-index: 3;
      }
    }
  }
}

.form-btn {
  width: 100%;
  min-height: 40px;
  position: relative;
  color: white;
  background: linear-gradient(119.93deg, #987879 -9.04%, #e4b4b5 143.26%);
  backdrop-filter: blur(4px);
  border-radius: 12px;
  border: none;
  margin: 16px 0 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.4) 100%
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    padding: 1px;
    z-index: 3;
  }
}

.progress {
  position: relative;
  margin: 150px 0 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 16px;
  padding: 16px;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.4) 100%
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    padding: 1px;
  }

  &__title {
    font-family: "Bebas", sans-serif;
    font-size: 30px;
    line-height: 32px;
    color: #313131;
  }

  &__label {
    margin: 16px 0 8px;
    font-size: 14px;
    line-height: 17px;
  }

  &__bar {
    position: relative;
    border-radius: 100px;
    width: 100%;
    height: 10px;
    background-color: white;
    border: 2px solid #fff;
    z-index: 2;
  }

  &__value {
    top: 0;
    left: 0;
    height: 6px;
    left: 16px;
    top: 170px;

    background: linear-gradient(96.41deg, #987879 23.11%, #e4b4b5 145.88%);
    border-radius: 36.5px;
  }

  &__photo {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__avatar {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 64px;
    bottom: 15px;
    width: 64px;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.page__title {
  font-family: "Bebas", sans-serif;
  font-size: 30px;
  line-height: 32px;
  color: #313131;
  text-align: center;
  margin: 24px 0 16px;
}

.community {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 16px;
    padding: 12px 16px;
    color: #313131;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(255, 255, 255, 0.4) 100%
      );
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: xor;
      padding: 1px;
    }
  }
}

.rating {
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 34px 0 60px;
  }
  &__item {
    position: relative;
    width: 33%;
    text-align: center;

    &--second,
    &--third {
      top: 30px;
    }
  }
  &__item__ava {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    object-fit: cover;
    margin: 0 auto 26px;
    z-index: 2;
  }

  &__item__laurel {
    position: absolute;
    width: 85px;
    border-radius: 100px;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    object-fit: cover;
    z-index: 2;
  }

  &__item__name {
    font-size: 16px;
    line-height: 19px;
    margin: 16px 0 8px;
  }

  &__item__coin {
    position: relative;
    display: inline-flex;
    align-items: center;

    border-radius: 100px;
    padding: 12px;
    gap: 8px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    color: #313131;

    p {
      font-size: 16px;
      font-weight: 700;
      margin: 0;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(255, 255, 255, 0.4) 100%
      );
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: xor;
      padding: 1px;
    }
  }

  &__table-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 16px;
  }

  &__table-wrapper {
    position: relative;
    padding: 16px 12px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 16px;
    margin: 24px 0;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(255, 255, 255, 0.4) 100%
      );
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: xor;
      padding: 1px;
    }
  }

  &__table-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    color: #313131;
    font-size: 16px;
    line-height: 19px;
    padding: 6px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    &:last-child {
      border-bottom: none;
    }
  }

  &__table__ava {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100px;
    object-fit: cover;
  }

  &__table-col--number {
    width: 45px;
  }

  &__table-col--ava {
    width: 30px;
  }

  &__table-col--name {
    width: 100%;
  }

  &__table-col--coin {
    width: 100px;
    text-align: right;
    flex-shrink: 0;
  }
}

.fix-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 390px;
  position: fixed;
  bottom: 120px;
  left: 0;
  right: 0;
  padding: 0 16px;
  margin: 0 auto;
  z-index: 100;
}

.rating__fix-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  color: white;
  width: 240px;
  height: 40px;
  font-size: 14px;
  border-radius: 100px;
  background: linear-gradient(119.93deg, #987879 -9.04%, #e4b4b5 143.26%);
  backdrop-filter: blur(4px);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.4) 100%
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    padding: 1px;
  }
}

.swiper {
  position: relative;
  margin: 16px 0;
  padding-bottom: 35px;
  z-index: 2;
}

.swiper-pagination-bullet-active {
  background-color: #bf9798;
}

.advSwiper {
  .swiper-slide {
    img {
      width: 100%;
      border-radius: 16px;
      object-fit: cover;
    }
  }
}

.modules {
  .service__item {
    min-height: auto;
  }
}

.service__item__cover {
  width: 100%;
  height: 85px;
  margin: 0 0 16px;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.module__cover {
  width: 100%;
  height: 200px;
  margin: 0 0 30px;
  border-radius: 12px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.modules__btn-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modules__btn-link {
  text-decoration: none;
  font-weight: bold;
}
