.page {
  min-height: 100vh;
  padding-bottom: 110px;
  background-color: #ffffff;
}

.advSwiper {
  filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  padding-bottom: 30px;
  margin: 24px 0;
}

.swiper-pagination-bullet-active {
  background-color: #583150;
}

.progress {
  position: relative;
  padding: 12px;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 3;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 12px;
  }

  &__title {
    font-family: "Cambria";
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #583150;
  }

  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #583150;
  }

  &__bar {
    background-color: #f6f0f4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    gap: 2px;
    border-radius: 8px;
  }

  &__item {
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background-color: #c7b7c3;
    overflow: hidden;
  }

  &__item-value {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #583150;
  }
}

.service {
  &__item {
    position: relative;
    padding: 12px 12px 40px;
    border-radius: 8px;
    overflow: hidden;
    display: block;
    text-decoration: none;

    &--purple {
      color: white;
      background-color: #583150;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 12px;
        bottom: 12px;
        background: url("../images/dist/more-yellow-ico.svg") no-repeat
          center/cover;
      }

      .service__item-ul {
        li {
          &:before {
            background: url("../images/dist/list-yellow-ico.svg") no-repeat
              center/cover;
          }
        }
      }
    }

    &--yellow {
      color: #583150;
      background-color: #ffcc00;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 12px;
        bottom: 12px;
        background: url("../images/dist/more-purple-ico.svg") no-repeat
          center/cover;
      }

      .service__item-ul {
        li {
          &:before {
            background: url("../images/dist/list-purple-ico.svg") no-repeat
              center/cover;
          }
        }
      }
    }
  }

  &__item-bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  &__item-title {
    position: relative;
    font-size: 16px;
    line-height: 1.2;
    font-family: "CambriaBold";
    margin: 0 0 12px;
    z-index: 2;
  }

  &__item-ul {
    position: relative;
    list-style: none;
    padding: 0 0 0 15px;
    margin: 12px 0;
    z-index: 2;
    li {
      position: relative;
      font-size: 12px;
      margin: 0 0 8px;

      &:last-child {
        margin: 0;
      }

      &:before {
        position: absolute;
        content: "";
        display: block;
        left: -15px;
        top: 2px;
        width: 12px;
        height: 12px;
      }
    }
  }
}

.serviceSwiper {
  margin: 24px 0;
  padding-bottom: 30px;
}

.main-bg {
  position: relative;
  height: 270px;
  text-align: center;
  overflow: hidden;
  z-index: 2;

  &__img {
    position: relative;
    width: 253px;
    margin: 0 auto;
    z-index: 2;
  }

  &__circle-wrapper {
    position: absolute;
    left: auto;
    right: auto;
    top: 20px;
    animation: spin 25s linear infinite;
    margin: 0 auto;

    &:nth-child(2) {
      animation-direction: reverse;
    }
  }

  &__circle {
    position: relative;
    width: 360px;
    height: 360px;
    border: 2px solid #f6f0f4;
    border-radius: 100%;

    &.zoomOut {
      transform: scale(0.8) rotate(271deg);
    }
  }

  &__circle-tag {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 10px;
    background-color: #f6f0f4;
    padding: 4px 8px;
    border-radius: 8px;

    &:first-child {
      position: absolute;
      top: 31px;
      left: -1px;
      transform: rotate(325deg);
    }

    &:nth-child(2) {
      position: absolute;
      bottom: 35px;
      right: -1px;
      transform: rotate(144deg);
    }

    &:nth-child(3) {
      position: absolute;
      bottom: 35px;
      right: 271px;
      transform: rotate(227deg);
    }

    img {
      flex-shrink: 0;
      width: 12px;
      height: 12px;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.page {
  &__title {
    font-family: "Cambria";
    font-size: 20px;
    line-height: 23px;
    color: #2f2f2f;
    font-weight: 400;
    text-align: center;
    margin: 0 0 12px;
  }

  &__description {
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    color: rgba(#2f2f2f, 0.6);
    margin: 0 0 24px;
  }
}

.page--modules {
  .service {
    &__list {
      margin: 16px 0 0;
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      z-index: 2;
    }

    &__item {
      position: relative;
      background: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 12px 12px 50px;
    }

    &__item__cover {
      width: 100%;
      height: 94px;
      border-radius: 8px;
      overflow: hidden;
      margin: 0 0 12px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__item_label {
      font-family: "Cambria";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #2f2f2f;
      margin: 0 0 4px;
    }

    &__item_description {
      font-size: 12px;
      line-height: 1.2;
      color: #808080;
      margin: 0 0 8px;
    }

    &__item_link {
      position: absolute;
      width: calc(100% - 24px);
      bottom: 12px;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      font-size: 14px;
      line-height: 1.2;
      padding: 8px 12px;
      color: white;
      text-decoration: none;
      background: #583150;
      border-radius: 8px;
    }
  }
}

.module__cover {
  width: 100%;
  height: 200px;
  margin: 0 0 30px;
  border-radius: 12px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.module__iframe {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  margin: 0 0 30px;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.modules__btn-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modules__btn-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-family: "Cambria";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  background-color: #583150;
  padding: 16px 12px;
  border-radius: 8px;
}

.community {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0 0 32px;
  }

  &__item {
    position: relative;
    display: flex;
    width: calc(50% - 4px);
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 16px;
    padding: 12px 16px;
    color: #313131;
    padding: 12px;
    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 12px;
    line-height: 1.2;
  }
}

.dp {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0 0 32px;

    .service__item {
      width: calc(50% - 4px);
      min-height: 150px;
    }

    .service__item-description {
      font-size: 12px;
    }
  }
}

.rating {
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 34px 0 60px;
  }
  &__item {
    position: relative;
    width: 33%;
    text-align: center;

    &--second,
    &--third {
      top: 30px;
    }
  }
  &__item__ava {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    object-fit: cover;
    margin: 0 auto 26px;
    z-index: 3;
  }

  &__item__laurel {
    position: absolute;
    width: 85px;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    object-fit: cover;
    z-index: 2;
  }

  &__item__name {
    font-size: 14px;
    line-height: 19px;
    margin: 0;
  }

  &__item__coin {
    position: relative;
    display: inline-flex;
    align-items: center;

    border-radius: 100px;
    padding: 12px;
    gap: 8px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    color: #313131;

    p {
      font-size: 16px;
      font-weight: 700;
      margin: 0;
    }
  }

  &__table-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 16px;
    font-family: "Cambria";
  }

  &__table-wrapper {
    position: relative;
    padding: 16px 12px;
    border-radius: 16px;
    margin: 24px 0;
    background: #f9f9f9 url("../images/dist/rating-table-bg.png") no-repeat
      center right;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  &__table-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    color: #313131;
    font-size: 16px;
    line-height: 19px;
    padding: 6px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    &:last-child {
      border-bottom: none;
    }
  }

  &__table__ava {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 8px;
    object-fit: cover;
  }

  &__table-col--number {
    width: 45px;
  }

  &__table-col--ava {
    width: 30px;
  }

  &__table-col--name {
    width: 100%;
  }

  &__table-col--coin {
    width: 100px;
    text-align: right;
    flex-shrink: 0;
  }
}

.fix-btn-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rating__fix-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  color: white;
  width: 100%;
  font-size: 14px;
  padding: 12px 16px;
  border-radius: 8px;
  background: #583150;

  &--yellow {
    background-color: #ffcc00;
    color: #2f2f2f;
  }
}

.v-main {
  &__btn-wrapper {
    margin: 16px 0;
  }

  &__btn-group {
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }

  &__btn-group-item {
    position: relative;
    width: 100%;
    font-size: 16px;
    padding: 18px 15px;
    text-decoration: none;
    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #2f2f2f;
    overflow: hidden;

    &--yellow {
      background-color: #ffcc00;
      color: #583150;
      font-weight: bold;
    }

    &--purple {
      background-color: #583150;
      color: #ffcc00;
      font-weight: bold;
    }
  }

  &__btn-group-item-bg {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.v-chat {
  &__header {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 375px;
    background: #eceef2;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .button-back {
      position: absolute;
      left: 20px;
      top: 20px;
      width: 30px;
      margin: 0;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info-avatar {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    overflow: hidden;
    margin: 0 10px 0 0;

    img {
      width: 36px;
      height: 36px;
      border-radius: 100px;
      object-fit: cover;
    }
  }

  &__info-name {
    font-size: 20px;
    color: #373737;
    font-family: "SFProDisplaySemibold";
  }

  &__content {
    padding: 0 5px;
    margin-top: 70px;
    height: calc(100vh - 68px - 394px);
    overflow-y: auto;

    &--full {
      height: calc(100vh - 360px);
    }
  }

  &__date {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: rgba(60, 60, 67, 0.6);
    margin: 18px 0;
  }

  &__message {
    position: relative;
    padding: 12px 10px;
    background: #e9e9eb;
    margin: 0;
    font-size: 12px;
    color: #000000;
    border-radius: 10px;
    max-width: 80%;
  }

  &__message-wrapper {
    display: flex;
    margin: 0 0 12px;

    &--received {
      justify-content: flex-start;

      .v-chat__message {
        &:before {
          content: "";
          position: absolute;
          bottom: -1px;
          left: -5px;
          display: block;
          width: 16px;
          height: 20px;
          background: url("../images/dist/chat-border.svg") no-repeat center;
        }
      }
    }

    &--sent {
      justify-content: flex-end;

      .v-chat__message {
        &:before {
          content: "";
          position: absolute;
          bottom: -1px;
          right: -5px;
          display: block;
          transform: scaleX(-1);
          width: 16px;
          height: 20px;
          background: url("../images/dist/chat-border.svg") no-repeat center;
        }
      }
    }
  }

  &__control {
    position: fixed;
    width: 375px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 95px;
    background: #eceef2;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    padding: 0 0 20px;
    z-index: 2;
  }

  &__sent-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border-top: 1px solid rgba(194, 195, 199, 1);

    input {
      width: 100%;
      height: 46px;
      border: none;
      background: #ffffff;
      border-radius: 12px;
      padding: 0 14px;
      font-family: "SFProDisplaySemibold";
      font-size: 14px;
      color: #000000;

      &:focus {
        outline: none;
      }
    }

    button {
      width: 46px;
      height: 46px;
      background: #5d2d65;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      flex-shrink: 0;
      margin: 0 0 0 10px;
    }
  }

  &__message-template {
    padding: 18px 20px;

    &__title {
      font-family: "SFProDisplaySemibold";
      margin: 0 0 16px;
      font-size: 16px;
      color: #373737;
    }

    &__item {
      background: #5d2d65;
      border-radius: 4px;
      width: 100%;
      color: white;
      padding: 5px 10px;
      border: none;
      text-align: left;
      cursor: pointer;

      margin: 0 0 4px;

      &:last-child {
        margin: 0;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.full-page {
  max-width: 100% !important;

  .modules__btn-list {
    max-width: 390px;
    margin: 0 auto;
  }
}

.v-course {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    padding: 12px;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(87, 84, 84, 0.1);
    border-radius: 12px;

    .disabled {
      opacity: 0.3;
    }
  }

  &__cover {
    margin: 0 0 12px;
    img {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    align-items: flex-end;
    gap: 24px;
  }

  &__name {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #2f2f2f;
    font-family: Cambria;
    margin: 0 0 8px;
  }

  &__description {
    font-size: 12px;
    line-height: 1.2;
    color: grey;
    margin: 8px 0 0;
  }

  &__btn-wrapper {
    flex-shrink: 0;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #646c64;
    text-align: center;
    margin: 0 0 8px;
  }

  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 28px;
    gap: 10px;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-decoration: none;
    color: #ffffff;

    background: #583150;
    border-radius: 8px;
  }
}
